# Ignore Vim backup files
*~

# Don't publish Riot API keys publically
key.txt

# .NET files ans folders to ignore
bin
obj
*/packages/*.*.*
/TestResults
*.suo
*.user
*.pubxml

# A file to prevent the www/ folder from getting wiped out when switching from master to gh-pages
www/dummy.txt