body {
    text-align: center;
    margin: 0;
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.sideCol {
    float: left;
    width: 195px;
    padding: 15px;
    text-align: left;
}

.middleCol {
    float: left;
}

#canvas {
    background: #101010;
}

#resources {
    display: none;
}