body {
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1 {
    margin-top: 0;
    padding-top: 0;
}

input[type=text] {
    background-color: #101010;
    border: #333 1px solid;
    color: #ccc;
    cursor: text;
}

#container {
    width: 1040px;
    height: 760px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
    background: #000;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.left-side-col, .right-side-col {
    float: left;
    width: 191px;
    padding: 25px;
    text-align: left;
    color: #ccc;
}

.middle-col {
    float: left;
    background: #000;
    color: #ccc;
}

.controls {
    line-height: 1.5;
}

#team1, #team2 {
    text-align: center;
    height: 175px;
    margin-top: 90px;
}

#team1 img, #team2 img {
    height: 60px;
    width: 60px;
}

.ability-icon {
    border: #999999 1px solid;
}

.faq {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    clear: left;
    text-align: left;
}

#canvas {
    background: #101010;
    margin-top: 20px;
}

#match-info {
    margin-top: 115px;
}

#health-bar-container {
    background: #ae2525;
    height: 20px;
    position: relative;
    margin-top: -4px;
}

#health-bar {
    background: #438321;
    height: 100%;
    width: 100%;
    position: absolute;
}

#health-bar-text {
    color: #fff;
    margin-top: 2px;
    width: 100%;
    position: absolute;
}

#game-time {
    padding-top: 2px;
    height: 18px;
}

#non-endorsement {
    font-size: 0.75em;
    color: #666;
    
    width: 550px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    clear: left;
}

#resources {
    display: none;
}

#faq-title {
    text-align: center;
}

.fb-share-button {
    position: relative;
    top: 3px;
}